body {
    font-family:"Alegreya Sans","sans-serif";
    font-size:1em;
    background-color:#f9f9f9;
    padding:0;
    margin:0;
}

h1 {
    font-weight:normal;
    position:absolute;
    font-size:1.2em;
    bottom:10px;
    right:10px;
}

.hidden {
    display:none;
}

@-webkit-keyframes horizontal-shake {
    0%   { -webkit-transform: translate(5px, 0px); }
    100% { -webkit-transform: translate(-5px, 0px); }
}

div#login-form {
    position:absolute;
    left:50%;
    top:50%;
    margin:-110px 0 0 -200px;

    padding:20px;
    width:400px;
    height:120px;
    background-color:#fff;

    border-radius:8px;
    border:2px solid #eee;

    & > span {
        display:block;
        font-weight:normal;
        font-size:1.2em;
        margin-bottom:20px;
        padding-bottom:5px;
        border-bottom:1px solid #ddd;
    }

    & > div {
        & > input {
            width:100%;
            padding:5px;
        }

        & > button {
            margin:8px 0 5px 0px;
            padding:5px;
        }

        & > span.error-message {
            display:none;
        }
    }

    &.invalid-password {
        -webkit-animation-name: horizontal-shake;
        -webkit-animation-duration: 0.1s;
        -webkit-animation-iteration-count: 3;
        -webkit-animation-timing-function: linear;

        & > div > span.error-message {
            color:rgb(196, 33, 33);
            display:inline-block;
            font-size:0.9em;

            position:absolute;
            right:20px;
            margin-top:18px;
        }
    }
}


